:root {
  background-color: rgb(185, 180, 255);
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  font-size: 1.3rem;
}

.nav-item a {
  color: black;
}

h1 {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
  margin-top: 10rem;
  margin-bottom: 4rem;
  text-align: center;
}

p {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  margin-bottom: 4rem;
  text-align: center;
}
.start-quiz {
  background-color: rgb(143, 235, 215);
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.start-quiz:hover {
  cursor: pointer;
}
.start-container:hover {
  cursor: pointer;
  box-shadow: hotpink;
  transition: transform 200ms;
}

.highscore-btn {
  background: linen;
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
}
